<script
  src="https://giscus.app/client.js"
  data-repo="amazia03/Karang-Taruna-Banjarsari"
  data-repo-id="R_kgDOPRSsAw"
  data-category="General"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="dark"
  data-lang="id"
  crossorigin="anonymous"
  async
></script>
<div class="footer-social-media">
  <a
    href="https://www.instagram.com/kartarbanjarr?utm_source=ig_web_button_share_sheet&igsh=dzA2aGwwMjdtYzZj"
    target="_blank"
    aria-label="Instagram"
    ><i class="fab fa-instagram"></i
  ></a>
  <a href="#" target="_blank" aria-label="TikTok"
    ><i class="fab fa-tiktok"></i
  ></a>
  <a href="#" target="_blank" aria-label="YouTube"
    ><i class="fab fa-youtube"></i
  ></a>
</div>
<p>&copy; 2025 Karang Taruna Banjarsari. All Rights Reserved.</p>
