<div class="footer-social-media">
  <a
    href="https://www.instagram.com/kartarbanjarr?utm_source=ig_web_button_share_sheet&igsh=dzA2aGwwMjdtYzZj"
    target="_blank"
    aria-label="Instagram"
    ><i class="fab fa-instagram"></i
  ></a>
  <a href="#" target="_blank" aria-label="TikTok"
    ><i class="fab fa-github"></i
  ></a>
  <a href="https://x.com/AmaziaKristanto" target="_blank" aria-label="YouTube"
    ><i class="fab fa-twitter"></i
  ></a>
</div>
<p>&copy; Created by Amazia Kristanto. All Rights Reserved.</p>
