<div class="header-container">
  <div class="logo">
    <a href="index.html">
      <img src="foto/logoneutrontransparan.png" alt="Logo The Great Apes" />
      <div class="logo-text">
        <h1>The Great Apes</h1>
        <p class="logo-subtitle">Random Thoughts and Everything Else</p>
      </div>
    </a>
  </div>

  <nav>
    <ul>
      <li>
        <a href="index.html"><i class="fas fa-home"></i><span>Home</span></a>
      </li>
      <li>
        <a href="about.html"
          ><i class="fas fa-info-circle"></i><span>About</span></a
        >
      </li>
      <li>
        <a href="galeri.html"
          ><i class="fas fa-camera-retro"></i><span>Gallery</span></a
        >
      </li>
      <li>
        <a href="kegiatan.html"
          ><i class="fas fa-calendar-alt"></i><span>Reading</span></a
        >
      </li>
      <li>
        <a href="informasi.html"
          ><i class="fas fa-bullhorn"></i><span>Nganu</span></a
        >
      </li>
      <li>
        <a href="kontak.html"
          ><i class="fas fa-comments"></i><span>Contact</span></a
        >
      </li>
    </ul>
  </nav>

  <div class="social-media">
    <a
      href="https://www.instagram.com/kartarbanjarr"
      target="_blank"
      aria-label="Instagram"
      ><i class="fab fa-instagram"></i
    ></a>
    <a
      href="https://github.com/username-anda"
      target="_blank"
      aria-label="GitHub"
      ><i class="fab fa-github"></i
    ></a>
    <a
      href="https://x.com/AmaziaKristanto"
      target="_blank"
      aria-label="Twitter"
      ><i class="fab fa-twitter"></i
    ></a>
  </div>
</div>
